<a href="https://colab.research.google.com/github/insha-amreen/insha-assignment-2-/blob/main/INSHA_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3':[7,8,9]}

In [ ]:
df = pd.DataFrame(d)
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

Write a Pandas program to select all the rows from the given DataFrame based on the criteria if value 4 is present in it

In [ ]:
df[df.isin([4]).any(axis=1)]

   col1  col2  col3
0     1     4     7

Write a Pandas program to reverse the order of a DataFrame columns

In [ ]:
df.iloc[:,::-1]

   col3  col2  col1
0     7     4     1
1     8     5     2
2     9     6     3

Write a Pandas program to add one row in an existing DataFrame(any values)

In [ ]:
df.loc[3]=[4,5,6]
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     5     6

Write a Pandas program to delete DataFrame row(s) which has 5 in it

In [ ]:
df = df.drop(df[df.isin([5]).any(axis=1)].index)
df

   col1  col2  col3
0     1     4     7
2     3     6     9